.quiz-wrapper {
    min-width: max-content;
    width: 70%;
}

.custom {
    max-width: 1250px;
}

.quiz-header {
    background-color: #626ed4;
}

.counter {
    font-size: 20px;
    font-weight: bold;
}
